<footer class="footer ">
    <div class="container text-center">
      <span class="text-muted">Copyright @2020 | Designed With by <a href="#">TrungPham</a></span>
    </div>
  </footer>

  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
      crossorigin="anonymous"
    ></script>
    <script
      language="JavaScript"
      src="http://www.geoplugin.net/javascript.gp"
      type="text/javascript"
    ></script>
  <script src="js/xxx.js"></script>
  <script src="js/countries.js"></script>



</body>
</html>