<%- include('./_layouts/adminheader') %>

	<div class="container mt-4 mb-4">				
			<div class="row">
				<div class="col-sm-3">
					<ul class="list-group">
            <li class="list-group-item"><a href="info">Thông tin covid-19 <img width="40" height="40" src="/images/icons8vr.png"></a></li>
            <li class="list-group-item"><a href="news">Tin tức mới nhất <img width="40" height="40" src="/images/news.png"></a></li>
            <li class="list-group-item"><a href="">Điều cần biết  <img width="40" height="35" src="/images/know.png"></a></li>
          </ul>
				</div>

				<div class="col-sm-9 mt-2">
					<h1><b>Thông tin về coronavirus</b></h1>
					<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/covid2.png" alt="Los Angeles" width="800" height="350">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/images/covid3.png" alt="Chicago" width="800" height="350">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/images/covid4.jpg"  alt="New York" width="800" height="350">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
					<br>	<br>						
					<h2><b>Bệnh Coronavirus mới</b></h2>
					<br>
					<h4>Virus corona là gì?</h4>
					<p>Virus corona là một chủng virus lớn có thể gây bệnh từ cảm lạnh thông thường đến các bệnh nặng hơn như Hội chứng hô hấp Trung Đông (MERS-CoV) và Hội chứng hô hấp cấp tính nặng (SARS-CoV). Virus corona mới (CoV) là một chủng mới chưa được xác định ở người trước đây. Nhiều virus corona tự nhiên lây nhiễm cho động vật, nhưng một số cũng có thể lây nhiễm cho người. Virus corona được cho là lây lan qua không khí bằng cách ho/hắt hơi và tiếp xúc cá nhân, hoặc bằng cách chạm vào các vật hoặc bề mặt bị ô nhiễm và sau đó chạm vào miệng, mũi hoặc mắt của bạn.</p>
					<br>
					<h4>2019-nCoV nguy hiểm như thế nào?</h4>
					<p>Cũng như các bệnh về đường hô hấp khác, nhiễm 2019-nCoV có thể gây ra các triệu chứng nhẹ bao gồm sổ mũi, đau họng, ho và sốt. Triệu chứng có thể nghiêm trọng hơn ở một số người và có thể dẫn đến viêm phổi hoặc khó thở. Hiếm gặp hơn, 2019-nCoV có thể gây tử vong. Người già và những người mắc bệnh nền từ trước (như bệnh tiểu đường và bệnh tim) dễ bị các triệu chứng nặng khi nhiễm virus này</p>
          <br> <br>
          <p><b>Tiến sĩ Nguyễn Xuân Hưng - Viện trưởng Viện Nghiên cứu Ứng dụng và Y học tái tạo Vinmec (VIASRM)</b></p>
					<br>
					
				</div>
			</div>	
	</div>


<%- include('./_layouts/adminfooter') %>