*{
	font-family: sans-serif;
	padding: 0;
	margin: 0;

}

html, body{
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: #222;
}

nav a{
	color: black;
}

.hide{
    display: none;
}
.fadeIn{
    animation: fade 0.5s ease-in-out;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.country,
.total-cases,
.recovered,
.deaths{
    height: 100px;
}
.navbar{
	font-size: 18px;
}

.stats{
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url('../images/bgr.jpg');
	background-size: cover;
}

.latest-report{
	display: flex;
	padding-top: 50px;
	margin: 0 auto;
	color: white;
}

.name{
	font-size: 2.2em;
	color: #3385ff;
}

.change-country{
	cursor: pointer;
}

.title{
	font-size: 1.3em;
}

.total-cases .value{
	font-size: 2em;
	font-weight: bold;
}

.recovered .value{
	font-size: 2em;
	font-weight: bold;
	color: #00cc00
}

.deaths .value{
	font-size: 2em;
	font-weight: bold;
	color: #e60000;
}

.new-value{
	font-size: 1.2em;
}

.chart{
	width: 80%;
    height: 70vh;
    min-height: 500px;

    margin: 0 auto;
    padding: 50px 0;	
}

.close{
	cursor: pointer;
}

.search-country{
	position: relative;
	z-index: 1;
}

.search-box{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 400px;
	height: 30px;
	background-color: #111;
	 z-index: 1;

}

.search-box input{
	width: 360px;
	height: 25px;
	border: none;
	background-color: transparent;
	color: white;
	padding-left: 15px;
	font-size: 1.1em;
}

.search-box img{
	width: 20px;
	padding-right: 5px;
	cursor: pointer;
}

.country-list{
	display: flex;
	justify-content: space-around;
	position: absolute;
	top:30px;
	width: 400px;
	height: 300px;
	background-color: #111;
	opacity: 0.8;
	overflow-y: scroll;
}

.country-list ul{
	width: 100%;
}

.country-list ul li{
	list-style: none;
	cursor: pointer;
	color: white;
}

.country-list ul li:hover{
	border-left: 1px solid #FFF;
}

.footer{	
	line-height: 50px;
	background-color:#263238;
	color:#999;
	justify-content: center;
}

.list-group li a{
	color: black;
	font-size: 18px;
	text-decoration: bold;
}

.news{
	border-bottom: solid 2px #ccccb3;
}

.list-news{
	border: solid 2px #ccccb3;
}


.navbar {
	background-color: rgba(82,64,120,0.9) !important;
}

.navbar li a{
	color: white !important;
}

.navbar li a:hover{
	color: black !important;
}

.navbar li .d-admin a{
	font-size: 18px;
	padding: 15px;
	color: #333333 !important;
}

.navbar li .d-user a{
	font-size: 18px;
	color: #333333 !important;

}

.navbar li .d-admin a:hover{
	color: black !important;
}

.navbar li .d-user a:hover{
	color: black !important;

}

.3tips{
	background-color: blue;
	color: blue;
}

.global{
	font-size: 18px;
	padding: 15px;
	
}
.global ul{
	background-color: red;
}
.global .confirmed{
	font-size: 22px;
	font-weight: bold;
}

.global .rcv{
	color: green;
	font-size: 22px;
	font-weight: bold;
}

.global .dead{
	color: red;
	font-size: 22px;
	font-weight: bold;
}